<app-layout-table-container>
        <div class="profile-header-container">
          <div class="user-profile-circle">
            <app-image-svg [image]="svgImages.floatingLogo"></app-image-svg>
          </div>
          <div class="profile-header-name">{{form.get('firstName')?.value}} {{form.get('lastName')?.value}}</div>
        </div>
        <form [formGroup]="form">
          <div class="profile-split">
            <div class="profile-side">
              <app-control-text-input [form]="form" controlName="firstName" label="First Name"></app-control-text-input>
              <app-control-text-input [form]="form" controlName="lastName" label="Last Name"></app-control-text-input>
              <app-control-text-input [form]="form" controlName="email" label="Email"></app-control-text-input>
              <app-control-role-type-selector [form]="form" [controlName]="'roleType'">
              </app-control-role-type-selector>
            </div>
            <div class="profile-side-line"></div>
            <div class="profile-side">
              <label class="profile-label" [ngClass]="{errorLabel: form.get('phone')?.errors  && form.get('phone')?.touched}">Phone Number (including Area Code)</label>
              <input
                [name]="'phone'"
                [formControlName]="'phone'"
                [appTextMask]="'phone'"
                [maskForm]="form"
                [maskFormControlName]="'phone'"
                type="text" class="profile-inputs profile-input" formControlName="phone">
              <app-control-text-input [form]="form" controlName="street" label="Street Address"></app-control-text-input>
              <app-control-text-input [form]="form" controlName="city" label="City"></app-control-text-input>
              <div class="profile-container-small">
                <div class="profile-small-margin-right">
                  <label class="profile-label-small">State</label>
                  <select formControlName="state" class="state-dropdown" #selectionRef>
                    <option [selected]="true" [value]="">
                      Please Select...
                    </option>
                    <option *ngFor="let state of statesAbbr" [value]="state.abbreviation">
                      {{state.abbreviation}}
                    </option>
                  </select>
                </div>
                <div class="profile-small-margin-left">
                  <label class="profile-label-small" [ngClass]="{errorLabel: form.get('zip')?.errors && form.get('zip')?.touched || null }">Zip</label>
                  <input
                    [name]="'zip'"
                    [appTextMask]="'zipCode'"
                    [maskForm]="form"
                    [maskFormControlName]="'zip'"
                    type="text" class="profile-zip-input" formControlName="zip">
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="action-buttons-container" *ngIf="!disabled">
          <button *ngIf="title === 'My Profile'" class="button-gray" (click)="edit(true)">CANCEL</button>
          <button *ngIf="title !== 'My Profile'" class="button-gray" (click)="cancel()">CANCEL</button>
          <div style="width: 25px"></div>
          <button class="action-buttons" [ngClass]="{'button-blue': form.valid}" (click)="submit()" [disabled]="form.invalid">SAVE</button>
        </div>
        <div class="action-buttons-container" *ngIf="disabled">
          <button class="button-gray" (click)="edit(false)">EDIT</button>
        </div>

</app-layout-table-container>
